.mySlides {
    margin-top: -300px;
    margin-left: auto;
    max-width:25%;
    max-height:25%;
}
.mySlides img {
    margin-top: -300px;
    width: 480px;
    height: 240px;
}
.mySlides2 {
    float: right;
}
.mySlides2 img {
    display: block;
    margin-left: auto;
    margin-top: 200px;
}

