/* Estilos para el primer carrusel */
.mySlides {
    display: none;
    position: fixed;
    top: 220px; /* Ajusta la posición vertical */
    right: 10px; /* Ajusta la posición horizontal */
    max-width: 25%; /* Ajusta el ancho máximo del carrusel */
    max-height: 100%; /* Ajusta la altura máxima del carrusel */
}

.mySlides img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 480px; /* Ajusta el ancho de las imágenes */
    height: 240px; /* Ajusta la altura de las imágenes */
}

/* Estilos para el segundo carrusel */
.mySlides2 {
    display: none;
    position: fixed;
    top: 10px; /* Ajusta la posición vertical */
    right: 10px; /* Ajusta la posición horizontal */
    max-width: 25%; /* Ajusta el ancho máximo del carrusel */
    max-height: 100%; /* Ajusta la altura máxima del carrusel */
}

.mySlides2 img {
    max-width: 100%;
    max-height: 100%;
    width: 480px; /* Ajusta el ancho de las imágenes */
    height: 240px; /* Ajusta la altura de las imágenes */
}

