.mySlides {
    width: 480px;
    height: 240px;
    position: right;
}
.mySlides img{
    display: none;
    width: 480px;
    height: 240px;
    position: right;
}
/* Estilo responsivo para los slides */
@media screen and (max-width: 600px) {
    .mySlides {
        width: 50%;
    }
}
@media screen and (max-width: 900px) {
    .mySlides {
        width: 70%;
    }
}
